/* 
negativespace.co

#C5C5C5 light grey
#353535 dark grey
#7e5e66 purple
#72A98F green
#3D5A6C dark blue

font-family: 'Fira Sans', sans-serif;
font-family: 'Maven Pro', sans-serif;
*/


/*foundation*/

body {
	background-color: #353535;
	color: #7e5e66;
	font-family: 'Fira Sans', sans-serif;
	font-weight: lighter;
}

.row {
	background-color: rgba(247, 247, 255, .95);
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*global fonts and text*/

a {
	color:#7e5e66;
	font-family: 'Maven Pro', sans-serif;
	font-size: 18px;
}

a:hover {
	color: #fff;
}

.right a {
	font-size: 18px;
}

h3 {
	color: #353535;
	font-size: 3em;
}

h4 {
	color: #353535;
}

h5 {
	font-family: 'Maven Pro', sans-serif;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
}

p {
	color: #353535;
	font-family: 'Maven Pro', sans-serif;
	/*font-weight: lighter;*/
}

/*index page*/

.heading {
	height: 400px;
	background-image: url("../img/dog.jpg");
	background-size: cover;
	/*background-position: 0px -195px;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center -130px;
	border: 10px;
}

.card {
	background-color: rgba(114, 169, 143, 0.75);
	color: #353535;
	min-height: 350px;
}

.card .card-content {
	padding: 10px;
	position: relative;
	top: 0;
	left: 0;
	min-height: 200px;
}

.card .card-action {
	background-color: rgba(114, 169, 143, 0.75);
	position: absolute;
	margin: 0;
	padding: 10px 10px 15px 10px;
	width: 100%;
	bottom: 0;
	left: 0;
}

.card .card-action a {
	padding: 10px 0;
	color: #fff;
	font-family: 'Maven Pro', sans-serif;
}

.card .card-action a:hover {
	color: #7e5e66;
}

.shortcard {
	min-height: 80px;
}

.shortcard .card-content {
	min-height: 65px;
	padding: 5%;
	bottom: 0;
}

.nomargin {
	margin-bottom: 0px;
}

/*global for all other pages*/

.pageheader {
	/*padding: 0 10px 0 20px;*/
	border-top: 0;
	padding: 40px 10px 60px 20px;
	background-color: #C5C5C5;
}

/*specific to each page*/

.datapage .intro , .devpage .intro {
	width: 75%;
	padding: 5px;
	margin: 20px auto 40px auto;
	/*margin-bottom: 80px;*/
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.datapage img {
	max-height: 320px;
	max-width: 60%;
	display: inline-block;
}

.devpage img {
	max-width: 75%;
	margin: 10px 0;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

.datapage img.taller {
	max-height: 300px;
	max-width: 45%;
}

.devpage img.taller {
	max-height: 400px;
	max-width: 45%;
}

.img-center {
	text-align: center;
}

.datapage p {
	font-size: 16px;
}

.intro.no_border {
	border-width: 0px;
}

.intro li, .intro p {
	font-size: 15px;
	color: #353535;
	font-family: 'Maven Pro', sans-serif;
}

/*the constants*/

nav {
	background-color: #72A98F;
	padding-left: 10px;
	padding-bottom: 10px;
}

.data {
	background-image: url('../img/chart.jpg');	
}

.web {
	background-image: url('../img/computer.jpg');
}

.art {
	background-image: url('../img/book.jpg');
}

.middle {
	height: 250px;
	background-image: url("../img/lake.jpeg");
	background-size: cover;
	/*background-position: 0px -50px;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: 10px;
}

footer.page-footer {
	background-color: #353535;
	height: 30px;
	padding: 0;
}

.footer-copyright {
	float: right;
	margin-bottom: 20px;
	margin-right: 30px;
}



