/* 
#C5C5C5 light grey
#353535 dark grey
#7e5e66 purple
#72A98F green
#3D5A6C dark blue

font-family: 'Poiret One', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Maven Pro', sans-serif;
*/

.heading {
	height: 400px;
	background-image: url("../img/dog.jpg");
	background-size: cover;
	/*background-position: 0px -195px;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center -130px;
	border: 10px;
}

.data {
	background-image: url('../img/chart.jpg');	
}

.web {
	background-image: url('../img/computer.jpg');
}

.art {
	background-image: url('../img/book.jpg');
}

.middle {
	height: 250px;
	background-image: url("../img/lake.jpeg");
	background-size: cover;
	/*background-position: 0px -50px;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: 10px;
}

body {
	background-color: #353535;
	color: #7e5e66;
	font-family: 'Fira Sans', sans-serif;
	font-weight: lighter;
}

.right a {
	font-size: 18px;
}

.brand-logo a {
	font-size: 32px;
	color: #7e5e66;
}

.card {
	background-color: #dcdcdc;
	color: #353535;
}

.card .card-action a {
	color: #7e5e66;
	font-family: 'Maven Pro', sans-serif;
}

.card .card-action a:hover {
	color: #7e5e66;
}

.card .card-content {
	padding: 10px;
}

.card .card-action {
	padding: 10px;
}

h3 {
	color: #353535;
	font-size: 3em;
}

h5 {
	font-family: 'Maven Pro', sans-serif;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
}

p {
	color: #353535;
	font-family: 'Maven Pro', sans-serif;
	/*font-weight: lighter;*/
}

.row {
	background-color: #C5C5C5;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.nomargin {
	margin-bottom: 0px;
}

nav {
	background-color: #72A98F;
	padding-left: 10px;
	padding-bottom: 10px;
}

footer.page-footer {
	background-color: #353535;
}

.cube {
	width: 200px;
	height: 200px;
	overflow: hidden;
	display: inline-block;
}

.cube, img {
	height: 200px;
}

.cubes {
	margin: auto;
}

